<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="dsAlgo_Utilities.MyRetryListener" />
		<listener class-name="dsAlgo_Utilities.ExtentReportListener" />
		<listener
			class-name="com.aventstack.chaintest.plugins.ChainTestListener" />
		<listener
			class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter" />

	</listeners>
	<test name="chrometest">
		<parameter name="browser" value="chrome" />

		<classes>
			<class name="dsAlgo_TestClasses.Home_Test" />
			<class name="dsAlgo_TestClasses.Register_Test" />
			<class name="dsAlgo_TestClasses.Login_Test" />
			<class name="dsAlgo_TestClasses.DataStructure_Test" />
			<class name="dsAlgo_TestClasses.Linkedlist_Test" />
			<class name="dsAlgo_TestClasses.Graph_Test" />
			<class name="dsAlgo_TestClasses.Tree_Test" />
			<class name="dsAlgo_TestClasses.Stack_Test" />
			<class name="dsAlgo_TestClasses.Queue_Test" />
			<class name="dsAlgo_TestClasses.Array_Test" />

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->

